<%= form_for @farm do |f| %>

<div class="container">
<div class="row text-white">
 <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
 <h2 class="display-4 py-2 text-truncate">Farm</h2>
 <div class="px-2">

<div>
 <%= f.label :name, 'Farm Name'%>
 <%= f.text_field :name%>
</div>

<div>
 <%= f.label :location, 'Location' %>
 <%= f.text_field :location %>
 </div>

 <%= f.submit "Submit" %>
 <% end %> 
 </div>
</div>
</div>