<%= form_for  [@farm,@plot ] do |f| %>
<%= f.hidden_field :farm_id, :value => @farm.id %>

<div class="container">
<div class="row text-white">
 <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
  <div class="px-2">
<div>
 <%= f.label :name, 'plot Name'%>
 <%= f.text_field :name%>
</div>

<div>
 <%= f.label :crop, 'crop' %>
 <%= f.text_field :crop %>
 </div>

 <%= f.submit "Submit" %>
 <% end %> 
 </div>
</div>
</div>