<h1> <%= @farm.name %></h1>
<% if @plots.count >0 %>
<table class="table table-striped rounded-borders">
   <tr>
   <th scope="col" class="bg-success">Name</th>
   <th scope="col" class="bg-success">Crop</th>
   <th scope="col" class="bg-success">Created Date</th>
   <th scope="col" class="bg-success">Updated Time</th>
   <th scope="col" class="bg-success">Logs</th>
   <% if current_user.admin %>
   <th scope="col" class="bg-success">Delete</th>
   <th scope="col" class="bg-success">Edit</th>
         <%end%>

   </tr>
   </thead>
   <tbody>

   <% @plots.each do |p| %>
      <tr>
         <td> <%= p.name %> </td>
         <td> <%=  p.crop %> </td>
         <td> <%= p.created_at.to_date %> </td>
         <td> <%= p.updated_at.to_date%> </td>

         <td> <%= link_to "logs" , farm_plot_logs_path(plot_id:p.id) %> </td>

         <% if current_user.admin %>
            <td><a data-confirm="Are you sure you want to delete <%= p.name %>?" data-method="delete" href= "/farms/<%= p.farm_id %>/plots/<%=p.id%>" rel="nofollow">Delete Plot</a> </td>
            <td><%= link_to "edit" , edit_farm_plot_path(id: p.id)%> </td>
         <%end%>
         </td>
      </tr>
   <% end %>
   </body>
   </table>

<div class="text-center">
   <button class="butt1"> <%= link_to 'Back', :back %></button> 
   <%else%>
      <h4>No available fields </h4>
      <button class="butt1"> <%= link_to 'Back', :back %></button> 
<%end%>
   <% if current_user.admin %>
   <button class="butt1"> <%= link_to "Add New plot", new_farm_plot_path(farm_id: @farm.id)  %> </button>
<%end%>
</div>

