<%= form_for  [@farm,@plot,@log ] do |f| %>
<%= f.hidden_field :plot_id , :value => @plot.id  %>
<%= f.hidden_field :farm_id , :value => @farm.id  %>

<div class="container">
<div class="row text-white">
 <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
  <div class="px-2">
<div>
 <%= f.label :entry, 'Task Name'%>
 <%= f.text_field :entry%>
</div>

 <%= f.submit "Submit" %>
 <% end %> 
 </div>
 </div>
 </div>
 </div>