

<h1>Farm name :<%=@farm.name %> </h1>
<h3>Plot name: <%=@plot.name %> </h3>
<table class="table table-striped">
<thead>
<tr>
<th scope="col" class="bg-success">Finished Task</th>
<th scope="col" class="bg-success">Date & Time</th>

</tr>
</thead>

<tbody>
    <% @logs.each do |g| %>
    <tr>
       <td> <%= g.entry%> </td>

         <td> <%= g.updated_at%> </td>
         <% if current_user.admin %>
         <td><%= link_to "edit" , edit_farm_plot_log_path(id: g.id)%> </td>
         <td><a data-confirm="Are you sure you want to delete <%= g.entry %>?" data-method="delete" href= "/farms/<%= g.farm_id %>/plots/<%=g.plot_id%>/logs/<%=g.id%>" rel="nofollow">Delete log</a> </td>
       <%end%>
       </td>
</tr>
    <%end%>
</ol>

<div class="text-center">
<% if current_user.emp || current_user.admin %>
    <button class="butt1" > <%= link_to "Add New Log", new_farm_plot_log_path(farm_id: @farm.id ,plot_id:@plot.id)  %> </button>
<%end%>
<button class="butt1"> <%= link_to 'Back', :back %></button> 
<button class="butt1"> <%= link_to "Download QR code", log_qr_path(@path) %> </button>
</div>




