<%= form_for Farm.new do |f| %>

<div>
 <%= f.label :name, 'field Name'%>
 <%= f.text_field :name%>
</div>

<div>
 <%= f.label :crop, 'crop' %>
 <%= f.text_field :crop %>
 </div>

 <%= f.submit "Submit" %>
 <% end %> 